{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>MESHACK PROILE - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link href="{% static 'css/style.css' %}" rel="stylesheet"> 
<!-- <link type="text/css" rel="stylesheet" href="{% static 'css /style.css' %} "> -->
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/mesh.jpg' %}" 
			alt="meshack kimutai" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">MESHACK KIMUAI </h1>
			<h2 class="quickFade delayThree">Software Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: <a href="meshackkimutai34@gmail.com" target="_blank">meshackkimutai34@gmail.com</a></li>
				<li>Website: <a href="http://www.bloggs.com">www.meshackbloggs.com</a></li>
				<li>Address: P.O Box 40064-00100, Nairobi4</li>
				<li>Mobile No: +254718908494</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>SUMMARY</h1>
				</div>
				
				<div class="sectionContent">
<p>I am resourceful, creative, competent java, Android and web developer.I love constant interative learning and sharing ideas. I am a team player with high self-discipline and self-motivated.I seek an opportunity that presents
challenging tasks so as to enhance my professional capacity, resilience and productivity with an aim of
always giving positive results. 
</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>WORK EXPERIENCE</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<a href="http://SARAMI.Africa"><h2>SARAMI.Africa</h2></a>
					<p class="subDetails">January 2020 - present </p>
					<p><h2>Skills:</h2>
						<li> Requirement gathering and analysis</li>
                        <li> Delivering efficient, visible and easy to use software</li>
                        <li> Agile development</li>
                        <li> Data visualization</li>
                        <li>Teamwork and collaboration</li>
					</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionContent">
				<article>
					<a href="http://SARAMI.Africa"><h2>NHIF</h2></a>
					<p class="subDetails">January 2019 - April 2019 </p>
					<p><h2>Skills:</h2>
						<li>Requirement gathering and analysis</li>
                        <li> Data analysis</li>
                        <li>IT support </li>
                        <li> Teamwork and collaboration</li>
					</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>


			<section>
			<div class="sectionTitle">
				<h1>KEY SKILLS</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p><h2>AREAS OF EXPERTISE:</h2>
						<div class="sectionContent">
				
                   <li> Mobile application development</li>
                   <li> Web Apps development</li>
                   <li>Data vizualization</li>
                   <li> Object oriented programming</li>
                   <li>System analysis and design</li>
                   <li> User research (UX/UI).</li>
                   <li> Agile development and waterfall</li>
                   <lI>Version control</lI>
					</p>
				</article>
					<article>
					<p><h2>PROGRAMMING LANGUAGES AND TOOLS:</h2>
						<div class="sectionContent">
							<Ol class="keySkills">
                 <li> Django</li>
                 <li>D3JS</li>
                 <li> Git</li>
                 <li>Docker</li>
                 <li>BitBucket</li>
                 <li> Java</li>
                 <li> Android SDK</li>
                 <li>JSON</li>
                 <li>Bootstrap</li>
                 <li> HTML5</li>
                 <li>CSS3</li>
                 <li> NodeJS</li>
                 <li> MySQL</li>
                 <li> SQLITE</li>
             </Ol>
					</p> 

				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		
		
		<section>
			<div class="sectionTitle">
				<h1>EDUCATION</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University</h2>
					<b><h2 class="subDetails"> Dedan Kimathi University of Technology</h2></b>
					<p class="subDetails"> Septemper 2016 - December 2019</p>
					<p> Bachelor of Science in Information.</p>
				</article>
				
				<article>
					<h2>High School</h2>
					<b><h2 class="subDetails"> Tenwek high school </h2></b>
					<p class="subDetails"> January 2012 - November 2015</p>
					<p> Kenya certificate of secondary education (KCSE).</p>
				</article>

				<article>
					<h2>Primary school</h2>
					<b><h2 class="subDetails"> Kipngosos primary school</h2></b>
					<p class="subDetails"> January 2003 - November 2011</p>
					<p> Kenya certificate of primary education (KCPE).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


<section>
			<div class="sectionTitle">
				<h1>REFERENCES</h1>
			</div>
			
			<div class="sectionContent">
				<article>



                  <li>Mr Kiptoo Kirui </li>
                  <li>  Portfolio Manager</li>
                  <li>  Stanbic Bank</li>
                  <li> Phone No. (+254) 0721758672</li>
                 <li>   Kiruik@stanbic-bank.com</li>
                 <br>

                 <li>   Ms Valentine Rutto </li>
                 <li>Women tech makers lead,</li>
                 <li>  Nairobi Kenya
                <li>  Phone No. (+254) 0728057123</li>
                <li>    rutto28@gmail.com</li>
                <br>

                <li> Weever Mbakaya</li>
                <li> SaramiDuka Co-founder,</li></li>
                <li>    Phone No. (+254) 0733881457</li>
                <br>

                  <li>  Mr .Peter Langat</li>
                  <li> NHIF Branch Manager-SOTIK,</li>
                  <li>   P.O BOX: 321-20406, SOTIK,</li>
                  <li>  Phone No. (+254) 0770348700</li>
                  <li>  pl10194906@gmail.com</li>
                  <br>
					</p>
				

				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		

		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>